body {
    margin: 0px center;
    width: 900px;
    background-color: rgb(214, 233, 176);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(31, 44, 4);
    margin-left: 150px;
    border: 5px;
  
  }
  
    header {
    height: 100px;
  }
     
    header > img {
    margin: 0;
    float: left;
    width: 60px;
    border: none;
    margin-left: 0px;
    
  }
  
  header > h1 {
    margin: 10px;
    margin-right: 40px;
    margin-top: 40px;
    text-align: center;
    color: blue;
    }
     
    
            p {
             border: 1px solid red;
             padding: 10px;
            }

            ol {
            list-style: decimal;     
            }
           
    
      

